.hero-container {
  margin-top: 80px;
  margin-bottom: 40px;
  display: flex;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.hero-heading {
  font-size: 2.5em;
  padding-bottom: 30px;
  font-weight: bold;
}

.hero-text-container {
  text-align: left;
  flex: 2;
}

.hero-text {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.1em;
  font-weight: normal;
  line-height: 1.5;
}

.icon-row-container {
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap;
}

.hero-image-frame {
  background-color: rgb(203, 203, 203);
  justify-content: center;
  width: 200px;
  height: 200px;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  overflow: hidden;
}

.hero-image-container {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero-image {
  max-height:100%;
  max-width: 100%;
}

@media only screen and (max-width: 800px) {
  .hero-image-container {
    display: none;
  }
}