.hero-container {
  margin-top: 80px;
  margin-bottom: 60px;
  display: flex;
  width: 100%;
  display: flex;
  justify-content: space-between;
  color: var(--font-color)
}

.hero-heading {
  font-size: 2em;
  padding-bottom: 30px;
  font-weight: bold;
}

.hero-text-container {
  text-align: left;
  flex: 2;
}

.hero-text {
  display: flex;
  font-size: 1em;
  font-weight: normal;
  line-height: 1.8;
  text-align: left;
  letter-spacing: 1.8px;
}

.icon-row-container {
  width: 100%;
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.hero-image-frame {
  background-color: rgb(203, 203, 203);
  justify-content: center;
  width: 200px;
  height: 200px;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  overflow: hidden;
  box-shadow: 0 0 10px rgb(140, 140, 140);
}

.hero-image-container {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero-image {
  max-height:100%;
  max-width: 100%;
}

@media only screen and (max-width: 860px) {
  .hero-image-container {
    display: none;
  }

}

@media only screen and (max-width: 430px) {
  .hero-container {
    margin-top: 30px;
  }
  .icon-row-container {
    justify-content: center;
  }
  .hero-heading {
    text-align: center;
  }
  .hero-text {
    text-align: center;
  }
}