.project-card {
  background-color: white;
  display: flex;
  justify-content: space-between;
  margin: 10px;
  border-radius: 10px;
  box-shadow: 2px 2px 8px rgb(40, 37, 37);
}

.project-card-text {
  display: flex;
  flex-direction: column;
  flex: 2;
  padding: 20px
}

.project-card h1 {
  font-size: 2em;
}

.project-card p {
  margin-top: 20px;
  font-size: 1.5em;
  flex-grow: 1;
}

.media-container {
  flex: 1;
  display: flex;
  height: 300px;
  width: 300px;
  justify-content: center;
  align-items: center;
}

.project-media {
  border-radius: 10px;
  max-height: 90%;
  max-width: 90%;
}