.project-section {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.project-heading {
  color: var(--font-color);
  margin-bottom: 30px;
  font-size: 1.5em;
  font-weight: bold;
  text-align: left;
}

@media only screen and (max-width: 500px) {
  .project-heading {
    text-align: center;
  }
}